{% extends 'layout.twig' %}

{% block body %}

<div class="ui container">
  <h1>Demonstração de autenticação com o firebase</h1>
  <h3>Usando a autenticação usando uma conta do google, ou usando o próprio firebase como provedor</h3>
</div>

{% endblock %}